@model List<FirstChallenge.Models.ComicBook>
@{
    ViewBag.Title = "My Comics";
}

<h1>My Comics</h1>

@foreach (var comic in Model)
{
    <h2>@Html.ActionLink(comic.ComicTitle, "Details", new { id = comic.ComicBookId })</h2>
    <h4>#@comic.EpisodeNumber - @comic.EpisodeTitle</h4>

    var characters = comic.Characters.Select(p => p.Name).ToArray();
    var charactersString = String.Join(", ", characters);
    <p><strong>Starring: </strong> @charactersString</p>
}

@* FORMER METHOD
    @foreach (var character in comic.Characters)
    {
        if (comic.Characters.Count <= 1)
        {
            <span>@character.Name.ToString()</span>
        }
        else
        {
            if (character.Name != comic.Characters.Last().Name)
            {
                <span>@character.Name.ToString(), </span>
            }
            else
            {
                <span>@character.Name.ToString()</span>
            }
        }
    }
*@